
<footer class="padded padded-b-1">
    <div class="grid-middle capped-width-wide">
        <div class="col-6">
            <h4> Pune mana pe E-Book-ul gratis! </h4>
            <form action="#" method="POST">
                <input type="email" name="_replyto" id="_replyto" placeholder="Email" required />
                <br>
                <button type="submit"> Descarca </button>
            </form>
        </div>
        <div class="col-6 right">
            <h3> Dolorem Situm </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque error perferendis nobis atque quos praesentium temporibus repellat ratione, beatae quidem esse? </p>
            <div class="socials">
                <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram highlight"></i> </a>
                <a href="{{site.data.site-settings.social.facebook_url}}" target="_blank"> <i class="fa-brands fa-facebook highlight"></i> </a>
                <a href="{{site.data.site-settings.social.tiktok_url}}" target="_blank"> <i class="fa-brands fa-tiktok highlight"></i> </a>
                <a href="{{site.data.site-settings.social.youtube_url}}" target="_blank"> <i class="fa-brands fa-youtube highlight"></i> </a>
            </div>
        </div>
        <div class="col-12 padded-t right">
            <a href="/Cookies-si-Politica-de-Confidentialitate" class="decoration-link highlight"> Cookies si Politica de Confidentialitate </a>
        </div>
    </div>
</footer>
<section class="grid-center padded-05 copyright">
    <h5 class="col-12 center"> Copyright &#169 2022 Gabriel Iulian Balu | Website by ALLACreativeStudio </h5>
</section>