<footer class="padded padded-b-1">
    <div class="grid-middle-center capped-width-wide">
        <div id="fd-form-62c0498e7edfa6aa840e1fdb" class="col-12-middle center"></div>
        <div class="col-8_xs-12 center left-xs padded-t-xs">
            <h3 class="editable">
                ProActiverz | Gabriel Balu
            </h3>
            <p class="editable">
                „Dacă ai impresia că educația este scumpă, atunci așteaptă să plătești prețul ignoranței!” - Derek Bok
            </p>
            <div class="socials">
                <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram highlight" id="transition"></i> </a>
                <a href="{{site.data.site-settings.social.facebook_url}}" target="_blank"> <i class="fa-brands fa-facebook highlight" id="transition"></i> </a>
                <a href="{{site.data.site-settings.social.tiktok_url}}" target="_blank"> <i class="fa-brands fa-tiktok highlight" id="transition"></i> </a>
                <a href="{{site.data.site-settings.social.youtube_url}}" target="_blank"> <i class="fa-brands fa-youtube highlight" id="transition"></i> </a>
            </div>
        </div>
        <div class="col-12 padded-t center left-xs padded-t-xs">
            <a href="/Cookies-si-Politica-de-Confidentialitate" class="decoration-link highlight"> Cookies si Politica de Confidentialitate </a>
        </div>
    </div>
</footer>
<script>
    window.fd('form', {
      formId: '62c0498e7edfa6aa840e1fdb',
      containerEl: '#fd-form-62c0498e7edfa6aa840e1fdb'
    });
  </script>
<section class="grid-center padded-05 copyright">
    <h6 class="col-12 center"> Copyright &#169 2022 Gabriel Balu | Website by ALLACreativeStudio </h6>
</section>