
<footer>
    <div>
        <h4> Pune mana pe E-Book-ul gratis! </h4>
        <form action="#" method="POST">
            <input type="email" name="_replyto" id="_replyto" placeholder="Email" required />
            <button type="submit"> Descarca </button>
        </form>
    </div>
    <div>
        <h3> Dolorem Situm </h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque error perferendis nobis atque quos praesentium temporibus repellat ratione, beatae quidem esse? Qui nostrum nemo ex odit impedit fuga ducimus ipsum. </p>
        <div>
            <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
            <a href="{{site.data.site-settings.social.facebook_url}}" target="_blank"> <i class="fa-brands fa-facebook"></i> </a>
            <a href="{{site.data.site-settings.social.tiktok_url}}" target="_blank"> <i class="fa-brands fa-tiktok"></i> </a>
            <a href="{{site.data.site-settings.social.youtube_url}}" target="_blank"> <i class="fa-brands fa-youtube"></i> </a>
        </div>
    </div>
    <div>
        <a href="/Cookies-si-Politica-de-Confidentialitate"> Cookies si Politica de Confidentialitate </a>
    </div>
</footer>
<section>
    <h5> Copyright &#169 2022 Gabriel Iulian Balu | Website by ALLACreativeStudio </h5>
</section>