
<header id="header">
    <nav class="grid-middle padded-lg-lr padded-sm">
        <div class="col-6">
            <a href="#home">
                <img class="logo" src="/images/logo.png">
            </a>
        </div>

        <div class="col-6 right">
            <div>
                <a href="#e-book" class="highlight"> E-Book </a>
                <a href="#about" class="highlight"> Despre Mine </a>
                <a href="#afiliere" class="highlight"> Afiliere </a>
            </div>
        </div>
    </nav>
</header>