<!DOCTYPE html>
<html lang="en">

    {% include head.html %}
    {% include header-nav.html %}

<body>
    {{content}}
</body>

    <!----------------------------- Script tags ----------------------------->

    <!-- jQuery -->
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
            integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
    </script>

    <!-- Slick Carousel -->

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Cookie Banner -->

    <!-- Animate on Scroll -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Local Script -->

    <script
            type="text/javascript"
            src="/script.js">
    </script>

</html>