<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

<!----------------------------- Navigation for Cookie Page ----------------------------->

<header id="header">
    <nav class="grid-middle padded-lg-lr padded-sm">
        <div class="col-6">
            <a href="/">
                <img class="logo" src="/images/logo.png">
            </a>
        </div>
        <div class="col-6 right">
            <div>
                <a href="/" class="highlight"> Inapoi </a>
            </div>
        </div>
    </nav>
</header>

<body>

    {{content}}

</body>

    <!----------------------------- Script tags ----------------------------->

    <!-- jQuery -->
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
            integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
    </script>

    <!-- Slick Carousel -->

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Cookie Banner -->

    <script type="text/javascript" id="cookiebanner" src="https://cdn.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js"
    data-message="Folosim cookie-uri pentru a vă îmbunătăți experiența. Continuând să vizitați acest site sunteți de acord cu utilizarea cookie-urilor."
    data-linkmsg="Află mai mult">
    </script>
    
    <!-- Animate on Scroll -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Local Script -->

    <script
            type="text/javascript"
            src="/script.js">
    </script>

</html>